* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* white mode */
html {
  color: #000;
}

input:focus {
  outline: none;
}

:root {}

/* dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: #000;
  }

  * {
    color: #fff;
    fill: #fff;
  }

  :root {
    --line-color: rgba(38, 38, 38);
    --subText: rgba(168, 168, 168);
    --link: rgb(0, 115, 255);
    --footer: #737373;
    --inbox-outBox: rgb(18, 18, 18);
    --ig-bg: #000;
    --hover-bg: rgba(255, 255, 255, 0.1);
    --searchBar: #262626;
    --send-by-me: #3797F0;
    --send-by-user: #262626;
    --button-bg: #fff;
    --button-color: #000;
  }
}