.user {
    cursor: pointer;
    padding: 8px 20px;
    width: 100%;
    height: 72px;
    display: flex;
    text-decoration: none;
}

.user:hover {
    background-color: var(--hover-bg);
}

.user:active {
    opacity: 0.5;
}

.user>img {
    margin-right: 12px;
}

.user>.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lastChat {
    color: var(--subText);
}

@media (max-width: 768px) {
    .user {
        justify-content: center;
    }

    .user>img {
        margin: 0;
    }

    .user>.content {
        display: none;
    }
}